@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

#style1,
#style2 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  height: 40px;
  width: 38px;
  background-color: transparent;
}

#style1::-webkit-color-swatch,
#style2::-webkit-color-swatch {
  border-radius: 5px;
  border-color: '#f2f2f2';
}

.modal-overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.modal {
  background: #363636;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  max-width: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .modal-overlay {
    height: 100%;
  }

  .modal {
    transform: translateY(0);
  }
}


.modal-overlay.active {
  height: 100%;
}

.modal.active {
  transform: translateY(0);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .modal-overlay {
    background: rgba(0, 0, 0, 0);
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    padding: 10;

  }

  .close-button{
    /* display: none !important; */
    
  }
}

.google-color-picker {
  display: flex;
  align-items: center;
}

input[type="color"] {
  width: 24px;
  height: 24px;
  border: none;
  margin-right: 8px;
  cursor: pointer;
}

.color-preview {
  width: 24px;
  height: 24px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.chrome{
  width: 275px;
    overflow: hidden !important;
}

/* Custom poiners */
.custom-pointers .react-colorful__saturation-pointer {
  width: 16px;
  height: 16px;
  border-radius: 16px;
}
.custom-pointers .react-colorful__hue-pointer,
.custom-pointers .react-colorful__alpha-pointer {
  width: 16px;
  border-radius: 3px;
}


/* Custom layout */
.custom-layout .react-colorful {
  padding: 16px;
  border-radius: 12px;
  background: #33333a;
  box-shadow: 0 6px 12px #999;
}

.custom-layout .react-colorful__saturation {
  margin: 15px 0;
  border-radius: 5px;
  border-bottom: none;
}

.custom-layout .react-colorful__hue {
  /* order: -1; */
}

.custom-layout .react-colorful__hue,
.custom-layout .react-colorful__alpha {
  height: 14px;
  border-radius: 5px;
}

.custom-layout .react-colorful__hue-pointer,
.custom-layout .react-colorful__alpha-pointer {
  width: 15px;
  height: 25px;
}